{% extends "base.html" %}

{% block content %}

<p>Your profile has been updated.</p>
<p>We perform an automatic check to find matches once a day. You will be contacted via email within a day after a match is found. Please check your spam and clutter folders regularly for our emails. You are welcome to come back any time to update your profile again, especially if no match is found in a while.</p>
<p>If you have chosen to deactivate your profile, your profile will not be matched.</p>
{% endblock content %}