{% extends 'base.html' %}
{% block content %}

  <h2>Login</h2>
  <br/>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="form-group">
      {{ form.username.errors }}
        <label for="{{ form.username.id_for_label }}">ITSC (e.g. tmchanaa): </label>
      {{ form.username }}
    </div>

    <div class="form-group">
      {{ form.password.errors }}
        <label for="{{ form.username.id_for_label }}">Password: </label>
      {{ form.password }}
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
  </form>

  <p><a href="{% url 'accounts:reset_password' %}">Forgot password?</a></p>

{% endblock %}