{% load profile_extras %}
<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Your Account</title>
  </head>
  <body>
    <p>Thank you for registering an account at Fire Chickens!</p>
    <p>
      Please use the password below to log in: <br/>
      {{ password }}
    </p>
    <p>Please change your password after your first login. We hope you find a roommate that you like.</p>
    <br/>
    <br/>
    <p>
      Sincerely, <br/>
      Fire Chickens
    </p>
  </body>
</html>