{% load profile_extras %}
<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Reset Password</title>
  </head>
  <body>
    <p>To reset the password for your account {{ user.get_username }} on Fire Chickens, please click the link below:</p>
    <p>{{ protocol }}://{{ domain }}{% url 'accounts:reset_password_confirm' uidb64=uid token=token %}</p>
    <p>If clicking the link above does not work, please copy and paste the URL to a browser.</p>
    <br/>
    <br/>
    <p>
      Sincerely, <br/>
      Fire Chickens
    </p>
  </body>
</html>