{% extends 'base.html' %}

{% block content %}
  {% if validlink %}
    <h3>Reset Password</h3>
    <br/>
    <form method="post">
      {% csrf_token %}

    <div class="form-group">
      <label for="{{ form.new_password1.id_for_label }}">New Password: </label>
      {{ form.new_password1 }}
      {{ form.new_password1.errors }}
    </div>

    <div class="form-group">
      <label for="{{ form.new_password2.id_for_label }}">Retype New Password: </label>
      {{ form.new_password2 }}
      {{ form.new_password2.errors }}
    </div>

      <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
  {% else %}
    <p>
      This password reset link is invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}